@import url(../assets/main.css);

.container {
    width: 100vw;
    height: 100vh;
    background-color: var(--bege);
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p{
    font-weight: 600;
    font-size: 1.5rem;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--rosa);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 